{{#required}}
    {{^isNullable}}
      @NotNull
    {{/isNullable}}
{{/required}}
{{#isContainer}}{{^isPrimitiveType}}{{^isEnum}}
  @Valid{{/isEnum}}{{/isPrimitiveType}}{{/isContainer}}{{#isNotContainer}}{{^isPrimitiveType}}
  @Valid{{/isPrimitiveType}}{{/isNotContainer}}
{{>beanValidationCore}}
